<section class="card border-0 shadow-sm p-4 mb-4">
    <div class="d-flex align-items-center gap-2 mb-4 pb-2 border-bottom">
      <lucide-angular [img]="GraduationCap" size="20" class="text-primary"></lucide-angular>
      <h2 class="h5 fw-bold text-dark mb-0 text-uppercase">Education</h2>
    </div>
    <div class="space-y-4">
      <div class="mb-4">
        <h4 class="small fw-bold text-dark mb-1">B.Tech in Electrical Engineering</h4>
        <p class="x-small text-muted mb-1">Veer Surendra Sai University of Technology</p>
        <p class="x-small fw-bold text-muted">2014 — 2018</p>
      </div>
      <div>
        <h4 class="small fw-bold text-dark mb-1">Senior Secondary</h4>
        <p class="x-small text-muted mb-1">Mother's Public School</p>
        <p class="x-small fw-bold text-muted">2013 — 2014</p>
      </div>
    </div>
</section>