      
      <!-- Summary -->
      <section id="summary" class="card border-0 shadow-sm p-4 mb-4">
        <div class="d-flex align-items-center gap-2 mb-4 pb-2 border-bottom">
          <lucide-angular [img]="Terminal" size="20" class="text-primary"></lucide-angular>
          <h2 class="h5 fw-bold text-dark mb-0 text-uppercase">Career Summary</h2>
        </div>
        <div class="text-muted">
          <p class="mb-4">
            {{overallSummary}}
          </p>
          <div class="row g-2 small">
            <div class="col-md-6 d-flex align-items-center gap-2">
              <lucide-angular [img]="ChevronRight" size="14" class="text-primary"></lucide-angular> Data Engineering & ETL Development
            </div>
            <div class="col-md-6 d-flex align-items-center gap-2">
              <lucide-angular [img]="ChevronRight" size="14" class="text-primary"></lucide-angular> RAG based AI Solutions
            </div>
            <div class="col-md-6 d-flex align-items-center gap-2">
              <lucide-angular [img]="ChevronRight" size="14" class="text-primary"></lucide-angular> REST API Development
            </div>
            <div class="col-md-6 d-flex align-items-center gap-2">
              <lucide-angular [img]="ChevronRight" size="14" class="text-primary"></lucide-angular> AWS Cloud Architecture and Data Migration
            </div>
          </div>
        </div>
      </section>