<app-navbar></app-navbar>

<app-header></app-header>

<main class="container">
  <div class="row g-4">
    <!-- Main Content Column -->
    <div class="col-lg-8">
      <app-career-summary></app-career-summary>
      <app-work-experience></app-work-experience> 
      <app-projects></app-projects>
    </div>

    <!-- Sidebar Column -->
    <div class="col-lg-4">
      <!-- Skills -->
      <app-skills-and-tools></app-skills-and-tools>
      <!-- Education -->
      <app-education></app-education>
      <!-- Certifications -->
      <app-certificates></app-certificates>
      <!-- Awards -->
      <app-awards></app-awards>

    </div>
  </div>
</main>

<app-footer></app-footer>